<% editable = false unless defined?(editable) && editable == true %>

<%= form_tag update_cart_path, method: "put" do %>
  <table id="order_recap_table" class="table">
    <tr>
      <th><%= t('glysellin.labels.order.sku') %></th>
      <th><%= t('glysellin.labels.order.name') %></th>
      <th><%= t('glysellin.labels.order.unit_price') %></th>
      <th><%= t('glysellin.labels.order.quantity') %></th>
      <th><%= t('glysellin.labels.order.eot_price') %></th>
      <th><%= t('glysellin.labels.order.price') %></th>
      <% if editable %>
        <th></th>
      <% end %>
    </tr>
    <% cart.each_items do |item, quantity| %>
      <tr>
        <td>
          <%= item.sku %>
        </td>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= number_to_currency(item.price) %>
        </td>
        <td>
          <% if editable %>
            <%= number_field :quantity, item.id, value: quantity %>
          <% else %>
            <%= quantity %>
          <% end %>
        </td>
        <td>
          <%= number_to_currency(quantity * item.eot_price) %>
        </td>
        <td>
          <%= number_to_currency(quantity * item.price) %>
        </td>
        <% if editable %>
          <td>
            <%= link_to remove_from_cart_path(item.id) do %>
              <%= t('glysellin.labels.cart.remove_from_cart') %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% if cart.subtotal != cart.total_price || Glysellin.show_subtotal_if_identical %>
      <tr>
        <td colspan="3">
          <%= t('glysellin.labels.order.subtotal') %>
        </td>
        <td>

        </td>
        <td>
          <%= number_to_currency(cart.eot_subtotal) %>
        </td>
        <td>
          <%= number_to_currency(cart.subtotal) %>
        </td>
      </tr>
    <% end %>
    <% if cart.adjustments_total != 0 %>
      <% cart.adjustments.each do |adjustment| %>
        <tr>
          <td colspan="5">
            <%= adjustment.name %>
          </td>
          <td>
            <%= number_to_currency(adjustment.value) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if cart.shipping_price > 0 || Glysellin.show_shipping_if_zero %>
      <tr>
        <td colspan="4">
          <%= t('glysellin.labels.order.shipping') %>
        </td>
        <td>
          <%= number_to_currency(cart.shipping_price(true)) %>
        </td>
        <td>
          <%= number_to_currency(cart.shipping_price) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">
        <%= t('glysellin.labels.order.total') %>
      </td>
      <td>
        <%= number_to_currency(cart.total_eot_price) %>
      </td>
      <td>
        <%= number_to_currency(cart.total_price) %>
      </td>
    </tr>
  </table>

  <% if editable %>
    <div class="discount-code">
      <%= label_tag :discount_code, t('glysellin.labels.order.discount_code') %>
      <%= text_field_tag :discount_code, cart.discount_code %>
    </div>
    <!-- Update cart contents -->
    <button type="submit" name="update_order">
      <%= t('glysellin.labels.cart.update') %>
    </button>
    <!-- Submit order from cart -->
    <button type="submit" name="submit_order">
      <%= t('glysellin.labels.cart.create_order_form') %>
    </button>
  <% end %>
<% end %>