<div class="addresses-fields-container" >
  <div class="billing-address-container" >
    <%= form.simple_fields_for :billing_address do |fsa| %>
      <%= fsa.input :last_name %>
      <%= fsa.input :first_name %>
      <%= fsa.input :address, :as => :string %>
      <%= fsa.input :zip %>
      <%= fsa.input :city %>
      <%= fsa.input :country, collection: countries_option_list %>
      <%= fsa.input :tel %>
    <% end %>
  </div>
  <%= form.input :use_another_address_for_shipping, as: 'boolean', 
    wrapper_html: { id: "billing-address-controls" }, 
    input_html: { data: { 'toggle' => 'address' }, checked: (form.object.shipping_address.id.present? ? 'checked' : '') } %>

  <div class="shipping-address-container" >
    <%= form.simple_fields_for :shipping_address do |fsa| %>
      <%= fsa.input :last_name %>
      <%= fsa.input :first_name %>
      <%= fsa.input :address, :as => :string %>
      <%= fsa.input :zip %>
      <%= fsa.input :city %>
      <%= fsa.input :country, collection: countries_option_list %>
      <%= fsa.input :tel %>
    <% end %>
  </div>
</div>