<h2><%= t('glysellin.labels.order.order_summary_title') %></h2>
<%= "#{t('glysellin.labels.order.order_reference')} : #{ @order.ref }" %>

<h3><%= t('glysellin.labels.order.your_informations') %></h3>

<h4><%= t('glysellin.labels.order.billing_address')%></h4>
<%= render :partial => 'show_address', :locals => { :address => @order.billing_address } %>

<h4><%= t('glysellin.labels.order.shipping_address')%></h4>
<%= render :partial => 'show_address', :locals => { :address => @order.shipping_address } %>

<h3><%= t('glysellin.labels.order.your_cart') %></h3>
<%= render :partial => 'glysellin/cart/products', :locals => { cart: @order } %>

<h3><%= t('glysellin.labels.order.pay') %></h3>
<% if @order.payment_method %>
	<%= (render @order.payment_method.request_button(@order)).html_safe %>
<% else %>
	<%= render :partial => 'payment_methods', :locals => { :order => @order } %>
<% end %>
